/**
 *
 *  P O S S E L     C L I E N T    C S S
 * 
**/

body, html {
    height: 100%;
    background: #fff;
    color: #181818;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 479px){
    /* Hide the scrollbar on devices that are *probaby* touch */
    body::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0.5em;
    max-width: 0.5em;
    height: 0.5em;
    max-width: 0.5em;
}
::-webkit-scrollbar-track {
    background: #e3e0cf;
}
::-webkit-scrollbar-thumb{
    background: #9fa8a3;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #9fa8a3;
}

*:focus {
    outline: 0;
}

::selection { background: #FFF; color: #181818; }
mark, .mark { background: #FFF; color: #181818; }

a, a h1, a h2, a h3, a h4 {
    color: inherit;
}
a:hover,
a:focus {
    color: inherit;
}


.input-field {
    position: fixed;
    bottom: 0;
    left: 17em;
    right: 0;
    height: 5.25em;
    background: #f0f0f0;
    padding: 1em;
}


.label-light {
    background: #393b39;
    color: #aaacab;
    border-radius: 0.2em;
}


.sidebar {
    background: #181818;
    padding: 0;
    color: #727673;
    float: left;
    width: 17em;
    height: 100%;
}

.sidebar ::-webkit-scrollbar-track {
    background: none;
}
.sidebar ::-webkit-scrollbar-thumb {
    background: #000;
}
.sidebar ::-webkit-scrollbar {
    display: none;
}
.sidebar:hover ::-webkit-scrollbar {
    display: initial;
}

    .sidebar header {
        position: fixed;
        top: 0;
        left: 0;
        width: 17em;
        height: 5.25em;
        padding: 1em;
        background: #000;
        border-bottom: 0.25em solid #fff;
    }

    .sidebar header ul.nicklist {
        margin-top: 0.5em;
    }

    .logo-sidebar {
        height: 3em;
    }

    .sidebar section {
        padding: 1em 1em 0em 1em;
    }

    .sidebar section h5 {
        text-transform: uppercase;
    }
    .sidebar section h6 {
        opacity: 0.8;
        margin-left: 1em;
    }

    .sidebar section ul.nicklist {
        margin: 0.1em -1em;
    }
    
    .sidebar section li {
        padding: 0.1em 1em;
    }

    .sidebar ul.nicklist {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar ul.nicklist li.unread {
        font-weight: bold;
    }

    .sidebar li.active,
    .sidebar ul.nicklist>li:hover {
        background: #000;
        cursor: pointer;
    }

    .sidebar .nicklist li>i.status {
        font-size: 0.5em;
        vertical-align: middle;
        padding-right: 0.2em;
    }

    .sidebar .nicklist li>i.online {
        color: #84d5a2;
    }
    .sidebar .nicklist li>i.away {
        opacity: 0.6;
    }

    .sidebar .nicklist li>i.channel {
        font-size: 0.9em;
        opacity: 0.6;
        vertical-align: middle;
    }

    .sidebar .nicklist .badge {
        font-size: 50%;
        vertical-align: middle;
        margin-left: 0.5em;
        margin-top: -0.3em;
    }

    .sidebar .nicklist li .part {
        display: none;
        color: #fff;
        opacity: 0.5;
    }

    .sidebar .nicklist li:hover .part {
        display: inline-block;
    }
   
    .sidebar .nicklist li:hover .part:hover {
        opacity: 1.0;
    } 


.sidewrap {
    position: fixed;
    top: 5.25em;
    left: 0;
    width: 17em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}


.topic {
    padding: 1em 2em;
    line-height: 3em;
    vertical-align: middle;
    height: 5.25em;
    border-bottom: 0.25em solid #f0f0f0;
    overflow: hidden;
}

    .topic .channame {
        font-weight: bold;
        font-size: 120%;
    }

    .topic .chantopic {
        opacity: 0.5;
        display: inline-block;
        padding-left: 1em;
    }

    .topic .chanmeta .ring {
        border-radius: 50%;
        display: inline-block;
        border: 0.1em solid #181818;
        width: 3em;
        height: 3em;
        padding: 0em 0.3em;
        text-align: center;
    }

    .topic .spacer {
        width: 1em;
        display: inline-block;
    }

.wrapper {
    height: 100%;
    overflow: hidden;
}




/***
    SUPER SIMPLE SQUARE-GRID-SYSTEM
    Columns are all the same height in each row
***/

@media (min-width: 768px) {
    .srow { width: 100%; display: table; table-layout: fixed; }
    .scol { display: table-cell; vertical-align: top; }
}



/**
aspect ratio  | padding-bottom value
--------------|----------------------
    16:9      |       56.25%
    4:3       |       75%
    3:2       |       66.66%
    8:5       |       62.5%
**/
.square,
.rect {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.rect {
    padding-bottom: 56.25%;
}

.square>div,
.rect>div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
}
.square>img,
.rect>img {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding-left: 100%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
}