.buffer-line {
  display: table-row;
}

html, body{
  height: 100%;
}

#outer-container{
  height: 100%;
  min-height: 100%;
}

.column {
  display: table-cell;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.mid-column {
  border-left: 1px solid gray;
}

.message {
}

.date {
  white-space: nowrap;
}

.nick {
  white-space: nowrap;
}
